@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
::-webkit-scrollbar {
  display: none;
}

#overlay{
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 6;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;

  background-color: rgba(108,23,23, 0.5);
  display: none;
}


#dwn-page{
  position: absolute;
  top: 10%;
  left: 5%;
  overflow: hidden;

  width: 90%;
  height: 80vh;

  border-radius: 4px;
  background-color: white;

  text-align: center;
}

#border{
  overflow: auto;

  position: relative;
  display: block;
  text-align: center;

  top: 0px;
  left: 5%;
  width: 90%;
  height: 100%;

  border-style: solid;
  border-radius: 10px;
  border-color: #ffe2c5;
  border-width: 0px 6px 0px 6px;
}

#links{
  position: relative;
  display: grid;

  padding: 0px;
  grid-template-columns: repeat(auto-fill, minmax(60px, 10fr));
  grid-gap: 1vw;

  top: 10%;
  width: 80%;
  margin: auto;

  list-style: none;
}

li{
  position: relative;
  margin: 2%;
  padding: 1%;
  width: 5vw;
  height: 5vw;
  background-color: #620000;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

#links li:hover{
  background-color: #410000;
  border-radius: 100%;
}

#links a:link{
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  padding: 20px 30px;
  font-size: 1.2vw;
  font-family: "Text Me One";

  text-decoration: none;
  color: white;
  transition: 0.2s;
}

#name, #content{
  left: 5%;
  position: relative;
  display: block;

  padding: 2%;
  margin: 0;

  width: 90%;
}

#content{
  font-family: 'Montserrat';
  font-size: 1.4vw;
}

.fa-times{
  position: relative;
  z-index: 20;
  float: right;
  transition: 0.3s;
  margin: 2%;
  color: red;
}

.fa-times:hover{
  text-shadow: 0px 3px #8b0000;
}
